        body{
            width: 98%;
        }
        /* header */
        header {
            padding-left: 18px;
            padding-right: 0px;
        }
        /* barre_recherche */
        .BordureSearch{
            width: 50%;
            margin-right: 0;
            margin-left: 200px;
            margin-top: 20px;
        }
        /* filtres */
        .margFiltreTitre {
            margin-right: 200px;
            margin-bottom: 30px;
            margin-left: 350px;
        }
        main {
            margin-left: 7px;
        }
        /* hebergements */
        .hebergements {
            height: 624px;
        }
        .hebergements .figures {
            width: 100%;
            height: 530px;
        }
        .hebergements .figures figure figcaption {
            min-height: 50%;
        }
        /* populaires */
        .populaires {
            height: 584px;
        }
        .populaires .figures {
            height: 542px;
        }
        .populaires .figures figcaption {
            height: 96%;
        }
        /* activites */
        .activites {
            width: 100%;
        }
        #activites {
            margin-left: 19px;
            margin-right: 11px;
        }
        /* footer */
        .footer {
            align-self: center;
        }
        .marg_footer1{
            margin-left: 70px;
        }
        .marg_footer2{
            margin-left: 74px;
        }
        .marg_footer3{
            margin-left: 100px;
        }
