@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}
/* Media query tablette */
@media screen and (min-width: 1024px) {
        /* header */
        .header {
            padding-left: 30px;
        }
        /* footer */
        .marg_footer1{
            margin-left: 0px;
        }
        .marg_footer2{
            margin-left: 0px;
        }
        .marg_footer3{
            margin-left: 0px;
        }
}