@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf");    
    font-weight: 100 1000;
}
body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  margin: 0;
}
.color_blue{
    color: blue;
}
.color_lightgray{
    color: #f2f2f2;
}
.back_blue{
    background-color: blue;
}
.back_lightgray{
    background-color: #f2f2f2;
}
.back_white{
    background-color: white;
}
.bordureNone{
    border: none;
}
.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center 
}
.flexBetween{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
figure,
figcaption,
.flexbox {
    /* display: flex; */
}

/*text size*/
h1{
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}
h2{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
h3{
    font-size: 16px;
    margin: 0;
}
p{
    font-size: 14px;
    margin: 0;
}
/*Header*/
.logo{
    width: 100px;
    height: auto;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top: 40px;
}
.BordureSearch{
    width: 400px;
    display: flex;
    border-radius: 10px;
    border: 5px solid #f2f2f2;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}
.BordureSearch .icon-search{
    display: none;
}
.paddingsearch{
    padding-left: 20px;
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.IconSize{
    height: 50px;
    width: 50px;
}
.boutonSearch{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
}
header{
    position: relative;
    margin-left: 40px;
    margin-right: 20px;
}
header p{
    margin-bottom: 20px;
    margin-top: 10px;
}
/*filtres*/
.margFiltre{
    margin-top: 50px;
    margin-bottom: 40px;
}
.filtre{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.margFiltreTitre{
    margin-right: 20px;
}
/* .margFiltreTitre h3{
    /*font-size: ;
} */
.filtreTextIcons{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtreTextIcons:hover > .filtreTexte{
    color: #0065fc;
}
.filtreTextIcons:hover > .filtreIcons{
    color: white;
    background-color: #0065fc;
}
.filtreTexte{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filtreIcons{
    margin: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}
/*info icon*/
.info{
    display: flex;
    align-items: center;
}
.parentIcon{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/*navigation*/
nav{
    position: absolute;
    top: 0;
    right: 0;
}
nav .icon-search{
    display: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin-left: 10px;
    border-top: 2px solid white;
    padding: 40px 20px;
}
nav ul li:hover{
    border-top: 2px solid blue;
}
nav ul li a{
    text-decoration:none;
}
nav ul li a:hover{
    color: black;
}
nav ul li.active{ 
    /* border-top: 2px solid blue; */
}

main{
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

/*Hebergements*/
.hebergements{
    /* border: 2px solid blue; pour le test */
    width: 60%;
    border-radius: 20px;
}
.hebergements h2{
    /* border: 2px solid green; pour le test */
    margin-top: 25px;
    margin-left: 20px;
}
.hebergements p{
    margin-left: 0;
}
.hebergements b p{
    margin-left: 20px;
    font-size: 15px;
}
.hebergements .figures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    /* border: 2px solid red; pour le test */
    height: 480px;
}
.hebergements .figures figure{
    flex-direction: column;
    /* border:2px solid yellow; pour le test */
    width: 30%;
    height: 200px;
    margin: 0;
}
.hebergements .figures figure figcaption{
    flex-direction: column;
    padding: 10px;
    border-radius: 0 0 20px 20px
}
.hebergements .figures figure figcaption h3{
    margin-bottom: 5px;
}
.hebergements .figures figure figcaption p{
    margin-bottom: 5px;
}
.hebergements .figures figure .image{
    display: flex;
    justify-content: center;
    align-items: stretch;

    overflow: hidden;
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
}
.hebergements .figures figure .image img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/*populaires*/
.populaires{ 
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; pour le test */
    width: 30%;
    padding: 20px;
    border-radius: 20px;
}
.populaires .titre{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* .populaires .titre h2{
    /* border: 2px solid green; pour le test 
} */
.populaires .figures{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 510px;
    /* border: 2px solid red; pour le test */
}
.populaires .figures figure{
    display: flex;
    flex-direction: row;
    /* border: 2px solid yellow; pour le test */
    margin: 0;
    border-radius: 15px 15px 15px 15px
}
.populaires .figures .image{
    width: 40%;
    height: 135px;
    overflow: hidden;
    border-radius: 15px 0 0 15px
    /* border: 2px solid blue; pour le test */
}
.populaires .figures figcaption{
    position: relative;
    margin: 10px;
    width: 60%;
    flex-direction: column;
}
.populaires .figures figcaption .stars{
    position: absolute;
    bottom: 10px;
}
/*activités*/
#activites{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.activites{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    justify-content: space-between;
    margin-top: 20px;
}
.activites h2{
    margin-bottom: 5px;
}
.activites .colonne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid blue; pour le test */
    width: 23%;
}
.activites .colonne p{
    margin-top: 15px;
    margin-left: 10px;
}
.activites .colonne figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.activites .colonne figure .image{
    max-width: 100%;
    overflow: hidden;
}
.activites .colonne figure .image img{
    width: 100%;
    height: auto;
}
.activites .colonne_simple figure{
    height: 100%;
}
.activites .colonne_double figure.h240{
    height: 240px;
    box-shadow: 1px 1px 12px #deebff;
}
.activites .colonne_double figure.h200{
    height: 200px;
    box-shadow: 1px 1px 12px #deebff;
}
.activites .colonne_double figure.h160{
    height: 160px;
    box-shadow: 1px 1px 12px #deebff;
}
.activites .colonne_simple figure .image img{
    height: 400px;
    box-shadow: 1px 1px 12px #deebff;
}
.activites figure figcaption{
    border: 2px solid #deebff;
    border-radius: 0 0 15px 15px;
}
/*footer*/
footer{
    display: flex;;
    margin-top: 50px;
    padding: 50px 40px 40px 40px;
}

footer > div{
    margin-right: 200px;
}
footer > div p{
    margin-top: 20px;
}


/* Media query Tablette */
@media screen and (max-width: 870px) {
    h1 {
        margin-top: 20px;
    }
    nav{
        /* position: relative; */
        top: 100px;
        left: 0;
        margin: 0;
        padding: 0;
    }
    nav ul {
        list-style-type: none;
        margin: 0 0 20px 0;
        border-bottom: 2px solid #deebff;
    }
    nav ul li {
        display: inline-block;
        margin-left: 10px;
        border-top: 2px solid white;
        padding: 0; 
    }
    nav ul li:hover{
        border-bottom: 2px solid blue;
        border-top: none;
    }
    main {
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        margin-left: 0; 
        margin-right: 0;
    }
    .BordureSearch{
        width: 100%;
        margin-left: 0;
        margin-right: 20px;
    }
    .BordureSearch .icon-search{
        display: block;
        background-color: blue;
    }
    .boutonSearch{
        display: none;
    }
    .margFiltreTitre{
        margin-right: 120px;
        margin-bottom: 10px;
    }
    .hebergements{
        width: 100%;
        background-color: white;
    }
    .sizeHebergement h2{
        margin-bottom: 20px;
    }
    .hebergements b p {
        margin-top: 10px;
    }
    .hebergements .figures {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        box-shadow: black;
    }
    .hebergements .figures figure {
        width: 90%;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .populaires{
        width: 90%;
    }
    .activites {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .activites .colonne {
        width: 100%;
    }
    .activites .colonne_simple{
        height: 200px;
        margin-bottom: 10px;
    }
    .activites .colonne_double{
        height: 200px;
        margin-bottom: 10px;
    }
    footer {
        flex-direction: column;
        padding: 50px 0 0 30px
    }
    footer > div p {
        margin-bottom: 30px;
    }
}

/* Media query Smartphone */
@media screen and (max-width: 600px) {
    
}
